.header {
  display: flex;
  width: 100%;
  height: 40px;
  background: linear-gradient(
    to left,
    var(--base-yellow-color),
    var(--base-blue-color)
  );
  align-items: center;

  .section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;

    .title {
      font-size: 16px;

      @media (max-width: 768px) {
        font-size: 12px;
      }
    }

    .language-menu {
      border-radius: 50px;
      padding: 5px 12px;
      background-color: var(--lang-background-color);
      border-width: 0px;
      color: #000;
      height: 30px;
      outline: none;

      option {
        background-color: var(--background-color);
      }

      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}
