.staking-m {
  display: flex;
  width: 100%;
  align-items: center;

  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    gap: 40px;

    .overview {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      gap: 40px;

      .over-title {
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-top: 40px;

        @media (max-width: 768px) {
          font-size: 32px;
          margin-top: 0px;
        }
      }

      .overview-list {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;

        @media (max-width: 991px) {
          justify-content: flex-start;
          overflow-x: scroll;
        }

        .item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex: 1;
          border-radius: 16px;
          position: relative;
          height: 180px;
          gap: 20px;

          @media (max-width: 991px) {
            flex: none;
            width: 300px;
            height: 150px;
          }

          .overview-image {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 16px;
          }

          .title {
            text-transform: uppercase;
            font-size: 28px;
            color: var(--overview-title-color);
            z-index: 1;
            text-align: center;
          }

          .content {
            color: var(--overview-text-color);
            z-index: 1;
            text-align: center;
          }
        }
      }
    }

    .chart-section {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: var(--chart-content-background-color);
      border-radius: 16px;
      padding: 20px;

      @media (max-width: 991px) {
        flex-direction: column;
        width: 100%;
      }

      .chart {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @media (max-width: 991px) {
          flex: none;
          width: 100%;
        }

        .charting {
          width: 100%;
          padding: 20px 10%;

          @media (max-width: 991px) {
            width: fit-content;
            padding: 20px 0;
            width: 100%;
          }
        }
      }

      .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @media (max-width: 991px) {
          flex: none;
          margin-top: 20px;
          width: 100%;
        }

        .text {
          color: var(--overview-text-color);
        }

        .content-title {
          font-size: 24px;
          letter-spacing: 5px;
          margin: 20px 0 50px 0;

          @media (max-width: 991px) {
            margin: 20px 0;
          }
        }

        .staking-overview {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          height: 88px;
          border-radius: 16px;
          margin: 10px 0;

          @media (max-width: 991px) {
            height: 150px;
            flex-direction: column;
            justify-content: center;
          }

          .staking-overview-image {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 16px;
          }

          .sub-title-section {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            z-index: 1;
            margin-left: 25px;
            gap: 20px;

            @media (max-width: 991px) {
              margin-left: 0;
              margin-bottom: 30px;
            }

            .sub-title {
              color: var(--overview-text-color);
            }

            .sub-text {
              color: var(--overview-sub-text-color);
              gap: 5px;
              display: flex;
              justify-content: center;
              align-items: center;

              * {
                font-size: 16px;
                color: var(--overview-sub-text-color);
              }
            }
          }

          .sub-content-section {
            z-index: 1;
            font-size: 28px;
            letter-spacing: 5px;
            margin-right: 25px;

            @media (max-width: 991px) {
              margin-right: 0;
            }
          }
        }

        .button-group {
          margin: 50px 0 0 0;
          display: flex;
          flex-direction: row;
          gap: 30px;
          width: 100%;
          justify-content: center;
          align-items: center;

          @media (max-width: 991px) {
            margin: 20px 0;
            flex-direction: column;
            gap: 20px;
          }

          .button-stake {
            height: 54px;
            border-radius: 12px;
            font-size: 18px;
            text-transform: uppercase;
            flex: 1;
            cursor: pointer;
            transition: 0.2s all ease;

            @media (max-width: 991px) {
              flex: none;
              width: 100%;
              letter-spacing: 2px;
              font-weight: bold;
            }

            &:hover {
              opacity: 0.8;
            }
          }

          .staking {
            background-color: var(--base-stake-color);
          }

          .withdraw {
            background-color: var(--base-blue-color);
          }
        }
      }
    }

    .line-chart-section {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: var(--chart-content-background-color);
      border-radius: 16px;
      padding: 20px;

      .search-section {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 991px) {
          flex-direction: column;
          gap: 20px;
        }

        .search-title {
          text-transform: uppercase;
          font-size: 24px;

          @media (max-width: 768px) {
            line-height: 36px;
            font-size: 28px;
          }
        }

        .search-list {
          gap: 10px;
          display: flex;
          flex-direction: row;

          .list-item {
            border-radius: 12px;
            background-color: var(--base-stake-color);
            text-transform: uppercase;
            height: 54px;
            padding: 10px 28px;
            font-weight: bold;
            letter-spacing: 2px;
            cursor: pointer;

            @media (max-width: 768px) {
              height: 48px;
              padding: 7px 15px;
              font-size: 14px;
            }
          }

          .list-item.active {
            background-color: var(--base-blue-color);
          }
        }
      }

      .line-chart {
        width: 100%;
        display: flex;
        margin-top: 30px;
      }
    }

    .staking-section {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      gap: 30px;

      @media (max-width: 991px) {
        flex-direction: column;
      }

      .staking-block {
        flex: 1;
        background-color: var(--chart-content-background-color);
        border-radius: 16px;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        .title {
          font-size: 28px;
          text-transform: uppercase;
          letter-spacing: 2px;
        }

        .desc {
          color: var(--footer-text-color);
        }

        .amount-section {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: 30px;

          @media (max-width: 576px) {
            flex-direction: column;
            gap: 20px;
          }

          .amount-group {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            background-color: var(--background-color);
            flex: 1;

            @media (max-width: 576px) {
              flex: none;
              width: 100%;
            }

            .amount-icon {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 60px;
              padding-left: 20px;

              * {
                color: var(--footer-text-color);
                font-size: 14px;
              }
            }

            .amount-input {
              border: none;
              outline: none;
              background-color: transparent;
              height: 54px;
              width: 100%;
              font-size: 14px;
            }
          }

          .amount-gvv {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 30px;

            @media (max-width: 576px) {
              width: 100%;
            }

            .amount-select {
              border-radius: 12px;
              background-color: var(--staking-select-background-color);
              outline: none;
              border: none;
              height: 54px;
              padding: 0px 20px;

              @media (max-width: 576px) {
                flex: 1;
              }
            }

            .sub-text {
              color: var(--staking-text-color);
              @media (max-width: 576px) {
                padding-right: 20px;
              }
            }
          }
        }

        .staking-btn {
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          border-radius: 12px;
          background-color: var(--base-blue-color);
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 2px;
        }
      }

      .staking-percent {
        flex: 1;
        background-color: var(--chart-content-background-color);
        border-radius: 16px;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;

        .avatar-section {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          gap: 20px;

          @media (max-width: 768px) {
            flex-direction: column;
          }

          .avatar-block {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--background-color);
            border-radius: 12px;
            padding: 40px;
            gap: 20px;

            @media (max-width: 768px) {
              order: 1;
              width: 100%;
              flex-direction: row;
            }

            .avatar-image {
              border-radius: 50%;
              width: 100px;
              height: 100px;
            }

            .avatar-sub-block {
              display: flex;
              flex-direction: column;
              gap: 20px;
              justify-content: center;
              align-items: center;

              @media (max-width: 768px) {
                flex: 1;
                align-items: flex-start;
              }

              .avatar-name {
                font-size: 20px;
              }

              .avatar-address {
                color: var(--footer-text-color);
              }
            }
          }

          .line-chart-block {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
          }
        }

        .percent-section {
          margin-top: 40px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          gap: 30px;

          @media (max-width: 768px) {
            gap: 15px;
          }

          .percent-item {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding-right: 30px;
            border-color: #fff;
            border-width: 1px;
            border-style: none solid none none;

            @media (max-width: 768px) {
              gap: 10px;
              padding-right: 10px;
            }

            &:last-child {
              border: none;
            }

            .round {
              width: 16px;
              height: 16px;
              border-radius: 50%;
            }

            .percent-text {
              font-size: 20px;
              text-transform: uppercase;

              @media (max-width: 768px) {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .claim-section {
      max-width: 620px;
      width: 100%;
      display: flex;
      border-radius: 12px;
      background-color: var(--chart-content-background-color);
      padding: 30px 20px;
      gap: 30px;
      flex-direction: column;
      position: relative;
      justify-content: center;
      align-items: center;
      gap: 20px;

      @media (max-width: 768px) {
        padding: 20px 10px;
        gap: 20px;
      }

      .claim-logo {
        border-radius: 50%;
        width: 70px;
        height: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--white-color);

        * {
          color: var(--black-color);
          font-size: 36px;
        }
      }

      .claim-title {
      }

      .amount-group {
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
        border-radius: 12px;
        background: linear-gradient(
          to left,
          var(--base-yellow-color),
          var(--base-blue-color)
        );

        .amount {
          font-size: 28px;
        }
      }

      .input-groups {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .email-group {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border-radius: 12px;
          width: 100%;
          background-color: var(--background-color);

          .email-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            padding-left: 20px;

            * {
              color: var(--footer-text-color);
              font-size: 16px;
            }
          }

          .email-input {
            border: none;
            outline: none;
            background-color: transparent;
            height: 54px;
            width: 100%;
            font-size: 14px;

            @media (max-width: 768px) {
              height: 48px;
            }

            * {
              background-color: var(--background-color);
            }
          }
        }
      }

      .button-groups {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: row;

        .button-group {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;
          width: 120px;

          @media (max-width: 768px) {
            width: 90px;
          }

          .claim-btn {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: var(--footer-border-color);
            cursor: pointer;

            * {
              font-size: 28px;

              @media (max-width: 768px) {
                font-size: 22px;
              }
            }

            @media (max-width: 768px) {
              width: 70px;
              height: 70px;
            }
          }

          .btn-title {
            text-align: center;

            @media (max-width: 768px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
