.presale {
  display: flex;
  width: 100%;
  align-items: center;

  .section {
    display: flex;
    flex-direction: column;
    width: 100%;

    .presale-section {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 40px 0;
      gap: 20px;

      @media (max-width: 991px) {
        flex-direction: column;
      }

      .logo {
        flex: 1;
        display: flex;

        img {
          width: 100%;
          border-radius: 16px;
          border: 5px solid var(--presale-image-border-color);
        }
      }

      .main {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 25px;

        .title {
          font-size: 52px;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 10px;

          @media (max-width: 768px) {
            font-size: 32px;
            text-align: center;
            letter-spacing: 5px;
          }
        }

        .desc {
          line-height: 25px;

          @media (max-width: 768px) {
            font-size: 14px;
            text-align: center;
          }
        }

        .presale-btn {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;
          border-radius: 50px;
          background-color: var(--presale-image-border-color);
          height: 80px;
          gap: 10px;
          font-size: 20px;
          letter-spacing: 1px;

          @media (max-width: 768px) {
            height: 50px;
            gap: 7px;
            font-size: 14px;
          }

          .yellow {
            display: flex;
            color: var(--base-yellow-color);
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 1px;
            justify-content: center;
            align-items: center;

            @media (max-width: 768px) {
              height: 50px;
              gap: 7px;
              font-size: 14px;
            }
          }
        }

        .count-section {
          border: 2px solid var(--presale-image-border-color);
          border-radius: 12px;
          height: 76px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          @media (max-width: 768px) {
            height: 50px;
            width: 100%;
          }

          .count-btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 82px;
            height: 100%;
            font-size: 20px;
            cursor: pointer;

            &:active {
              transform: scale(1.2);
            }

            @media (max-width: 768px) {
              height: 40px;
              flex: 1;
              width: auto;
            }
          }

          .count-res {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 82px;
            height: 64px;
            border-radius: 12px;
            background-color: var(--presale-image-border-color);
            font-size: 16px;
            letter-spacing: 5px;

            @media (max-width: 768px) {
              height: 40px;
              flex: 1;
              width: auto;
            }

            .count-input {
              height: 100%;
              width: 100%;
              border-radius: 12px;
              background-color: var(--presale-image-border-color);
              font-size: 16px;
              outline: none;
              border: none;
              text-align: center;
            }
          }
        }

        .presale-buy-btn {
          background-color: var(--base-yellow-color);
          border-radius: 12px;
          height: 54px;
          color: var(--black-color);
          font-size: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 170px;
          font-weight: 400;
          text-transform: uppercase;
          cursor: pointer;
          transition: 0.2s all ease;

          &:hover {
            opacity: 0.8;
          }

          @media (max-width: 768px) {
            height: 50px;
            width: 100%;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
    }

    .presale-overview {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 40px 0;
      gap: 20px;

      @media (max-width: 991px) {
        justify-content: flex-start;
        overflow-x: scroll;
      }

      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        border-radius: 16px;
        position: relative;
        height: 180px;
        gap: 20px;

        @media (max-width: 991px) {
          flex: none;
          width: 300px;
          height: 150px;
        }

        .overview-image {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border-radius: 16px;
        }

        .title {
          text-transform: uppercase;
          font-size: 28px;
          font-weight: bold;
          color: var(--overview-title-color);
          z-index: 1;
          text-align: center;
        }

        .content {
          color: var(--overview-text-color);
          z-index: 1;
          text-align: center;
        }
      }
    }

    .presale-video-view {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 40px 0;
      gap: 20px;

      .guide-title {
        padding: 20px 40px;
        background-color: var(--presale-image-border-color);
        border-radius: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

        @media (max-width: 768px) {
          padding: 15px 20px;
        }

        svg {
          path {
            color: var(--base-yellow-color);
          }
        }

        .title {
          text-transform: uppercase;
          font-size: 18px;
          letter-spacing: 2px;

          @media (max-width: 768px) {
            font-size: 16px;
          }
        }
      }

      .video-section {
        border-radius: 32px;
        border: 5px solid var(--presale-image-border-color);
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;

        .presale-video {
          width: 100%;
          border-radius: 28px;
        }

        .presale-video-btn {
          border-radius: 50%;
          width: 120px;
          height: 120px;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: var(--base-blue-color);
          transition: 0.2s all ease;

          @media (max-width: 768px) {
            width: 80px;
            height: 80px;
          }

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
