* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white-color);
  font-family: sans-serif;
  user-select: none;
  font-size: 16px;
}

body {
  background-color: var(--background-color);
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0px auto;
  width: 100%;
  -webkit-box-flex: 1;

  @media (max-width: 576px) {
    width: calc(100% - 15px);
  }

  @media (min-width: 576px) {
    width: 540px;
  }

  @media (min-width: 768px) {
    width: 720px;
  }

  @media (min-width: 992px) {
    width: 960px;
  }

  @media (min-width: 1200px) {
    width: 1140px;
  }

  @media (min-width: 1400px) {
    width: 1320px;
  }
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

/* Hide the spinner */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the arrow icons */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Hide the spinner */
input[type="number"] {
  -moz-appearance: textfield;
}
