:root {
  --black-color: #000;
  --white-color: #fff;
  --base-yellow-color: #f9e727;
  --base-blue-color: #0f42f2;
  --background-color: #050b21;
  --lang-background-color: rgba(255, 255, 255, 0.26);
  --sign-background-color: rgba(255, 255, 255, 0.05);
  --menu-item-active-color: #cbfb45;
  --presale-image-border-color: #12172c;
  --footer-border-color: rgba(255, 255, 255, 0.2);
  --footer-text-color: #a6aaae;
  --overview-text-color: #adadb1;
  --overview-title-color: #f3f3f3;
  --overview-sub-text-color: #ff7c33;
  --base-stake-color: #111c40;
  --chart-content-background-color: #12172c;
  --staking-text-color: #bbae27;
  --staking-select-background-color: #1e2337;
  --progress-bar-background-color: #364330;
}
